html, body {
     height: 100%; 
    }

body{
    margin: 0;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
   width: 900px;
}
.pic{
    max-width: 650px;
    max-height: 450px;
    border: 5px solid #5f0a879d;
    
}
#menu{
    background-color:#5f0a87 ;
    padding: 15px;
}

#conteudo{
    background: #9350a4;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #ddd ;
    font-weight: bold;
    padding: 5px;
}
.centralizar {
    text-align: center;
}

h1{
    font-size: 1.2em;
    color: #2c2727;
}