header{
    border: 1px solid black;
    padding: 10px;
    color: red;
}

nav{
    border: 1px solid red;
    padding: 10px;
    color: blue;
}

footer{
    background: #ccc;
    padding: 5px;
}

article{
    background: #ccc;
    padding: 5px;
}

section{
    border: 1px solid red;
    margin: 5px;
}